.row
  .col-xs-4.text-center
    = image_tag "icons/certificate_icon_grey_240.png", class: "img-responsive thumbnail"
    - if mover_list_item.general_liability_insurance
      Insured
    - elsif mover_list_item.general_liability_insurance.nil?
      Not Verified
    - else
      Not Insured
  .col-xs-4.text-center
    = image_tag "icons/gears_icon_grey_240.png", class: "img-responsive thumbnail"
    - if mover_list_item.years_in_business
      = pluralize(mover_list_item.years_in_business, "Year")
    - else
      Not Verified
  .col-xs-4.text-center
    = image_tag "icons/dollar_icon_grey_240.png", class: "img-responsive thumbnail"
    - if mover_list_item.avg_price_per_hour
      %span= "$#{mover_list_item.avg_price_per_hour}"
      %span avg per hour
    - else
      Not Verified
