.container.movers
  .col-xs-8

    %p.lead.text-center
      = "One Step Closer to <strong>#{@to.titleize}</strong>! Here are <strong>#{@mover_list_items.size}</strong> movers we've found in <strong>#{@from.titleize}</strong>".html_safe

    %ul.list-unstyled
      = render partial: "mover_list_item", collection: @mover_list_items

  .col-xs-4

    %ul.list-unstyled
      %li.lead Here we can start educating the user!
      %li.lead Maybe include a simple graphic to show the process of moving?
      %li
        %img.img-rounded.img-responsive{src: "http://placehold.it/300/300"}
