= @from
= @to

%ul
  - @mover_list_items.each do |mover_list_item|
    %li
      = link_to mover_list_item.name, mover_path(mover_list_item.id)
      = "#{mover_list_item.yelp_stars} Stars"
      = "Since #{mover_list_item.year_started}"
      = "$#{mover_list_item.avg_price_per_hour} avg per hour"
      - if mover_list_item.general_liability_insurance
        = "Insured"
      = "#{mover_list_item.description}"