.container.movers{"data-ng-app" => "mule", "data-ng-controller" => "MoversListCtrl"}
  .col-md-4.hidden-xs.hidden-sm
    = render partial: "movers_list_sidebar", locals: {from: @from, to: @to}

  .col-md-8.col-xs-12
    %p.lead= "displaying {{ filteredMovers.length }} of #{@mover_list_items.size} movers"
    = render partial: "mover_list_items"

:javascript
  var app = angular.module("mule", ["textHelpers"]);

  app.controller("MoversListCtrl", function($scope, FilterService) {
    $scope.moverListItems = #{@mover_list_items.to_json}
    $scope.filters = {}
    $scope.services = FilterService.getServices();
    $scope.insurances = FilterService.getInsurances();
  });

  app.factory("FilterService", function () {
    var services = [
      {
        "category": "Pickup",
        "items": [
          { id: "packaging", name: "Packaging" },
          { id: "crating", name: "Crating" },
          { id: "furniture_wrapping", name: "Furniture Wrapping" },
          { id: "furniture_disassembly", name: "Furniture Disassembly" },
          { id: "personal_truck_loading", name: "Personal Truck Loading" },
          { id: "appliances_uninstall", name: "Appliances Uninstall" }
        ]
      },
      {
        "category": "Transport",
        "items": [
          { id: "shuttling", name: "Shuttling" },
          { id: "storage", name: "Storage" },
          { id: "extra_stops", name: "Extra Stops" }
        ]
      },
      {
        "category": "Dropoff",
        "items": [
          { id: "furniture_assembly", name: "Furniture Assembly" },
          { id: "appliances_install", name: "Appliances Install" }
        ]
      },
      {
        "category": "Special",
        "items": [
          { id: "electronics_packaging", name: "Electronics Packaging" },
          { id: "auto_transport", name: "Auto Transport" },
          { id: "bulky_items", name: "Bulky Items" },
          { id: "pianos", name: "Pianos" },
          { id: "gun_safe", name: "Gun Safe" },
          { id: "cleaning", name: "Cleaning" }
        ]
      }
    ]

    var insurances = [
      {id: "cargo_insurance", name: "Cargo Insurance"},
      {id: "automobile_insurance", name: "Automobile Insurance"},
      {id: "workers_compensation", name: "Workers Compensation"},
      {id: "general_liability_insurance", name: "General Liability Insurance"},
    ]

    var getInsurances = function () {
      return insurances;
    }

    var getServices = function () {
      return services;
    }

    return {
      getServices: getServices,
      getInsurances: getInsurances
    }
  })

  app.filter("serviceFilter", function($filter) {
    return function(moverListItems, filters) {

      // exclude services set to false
      var requestedFilters = {}
      $.each(filters, function(key, val) {
        if (val === true) {
          requestedFilters[key] = true
        }
      });

      return $filter("filter")(moverListItems, requestedFilters);
    }
  });