= link_to "Back", movers_path

= @mover_detail.name
= @mover_detail.description
= "Since #{@mover_detail.year_started}"
= "$#{@mover_detail.avg_price_per_hour} avg per hour"
= @mover_detail.address
= "#{@mover_detail.yelp_stars} Stars"
= "#{@mover_detail.yelp_review_count} Reviews"
= @mover_detail.yelp_review_snippet
= "Automobile Insurance: #{!!@mover_detail.automobile_insurance}"
= "Cargo Insurance: #{!!@mover_detail.cargo_insurance}"
= "General Liability Insurance: #{!!@mover_detail.general_liability_insurance}"
= "Workers Compensation: #{!!@mover_detail.workers_compensation}"
= "Company Registration: #{@mover_detail.company_registration}"
= "PUC: #{@mover_detail.puc}"
= "State Dot: #{@mover_detail.state_dot}"
= "US Dot: #{@mover_detail.us_dot}"
= "Mon: #{@mover_detail.hours_mon || 'Closed'}"
= "Tue: #{@mover_detail.hours_tue || 'Closed'}"
= "Wed: #{@mover_detail.hours_wed || 'Closed'}"
= "Thu: #{@mover_detail.hours_thu || 'Closed'}"
= "Fri: #{@mover_detail.hours_fri || 'Closed'}"
= "Sat: #{@mover_detail.hours_sat || 'Closed'}"
= "Sun: #{@mover_detail.hours_sun || 'Closed'}"
= "Employees: #{@mover_detail.employees}"
= "Trucks: #{@mover_detail.trucks}"
= "Appliances Install: #{@mover_detail.appliances_install}"
= "Appliances Uninstall: #{@mover_detail.appliances_uninstall}"
= "Auto Transport: #{@mover_detail.auto_transport}"
= "Bulky Items: #{@mover_detail.bulky_items}"
= "Cleaning: #{@mover_detail.cleaning}"
= "Crating: #{@mover_detail.crating}"
= "Electronics Packaging: #{@mover_detail.electronics_packaging}"
= "Extra Stops: #{@mover_detail.extra_stops}"
= "Furniture Assembly: #{@mover_detail.furniture_assembly}"
= "Furniture Disassembly: #{@mover_detail.furniture_disassembly}"
= "Furniture Wrapping: #{@mover_detail.furniture_wrapping}"
= "Gun Safe: #{@mover_detail.gun_safe}"
= "Packaging: #{@mover_detail.packaging}"
= "Personal Truck Loading: #{@mover_detail.personal_truck_loading}"
= "Pianos: #{@mover_detail.pianos}"
= "Shuttling: #{@mover_detail.shuttling}"
= "Storage: #{@mover_detail.storage}"