%section.row.landing-section.white
  .container.text-hero-color
    %h2 Moving with Mule
    %p.lead We've hand selected quality licensed movers and sorted them by rating to make sure you're not left in the dust.
    .col-xs-12
      .row
        .media
          .pull-left.process-step
            1
          .media-body
            %h4.media-heading= t("mule_process.one.header")
            %p= t("mule_process.one.content")
        .media
          .pull-left.process-step
            2
          .media-body
            %h4.media-heading= t("mule_process.two.header")
            %p= t("mule_process.two.content")
        .media
          .pull-left.process-step
            3
          .media-body
            %h4.media-heading= t("mule_process.three.header")
            %p= t("mule_process.three.content")
        .media
          .pull-left.process-step
            4
          .media-body
            %h4.media-heading= t("mule_process.four.header")
            %p= t("mule_process.four.content")