= render partial: "hero_container"
= render partial: "recent_moves"
= render partial: "progress"
= render partial: "explainer_row"
= render partial: "shared/footer"

:javascript
  $(document).ready(function(){
    $("#hero input").floatlabel({
      slideInput: false,
      paddingOffset: "5px",
      labelStartTop: "30px",
      labelEndTop: "0px"
    });
  });
